header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
}
.title {
  margin-left: 20px;
}
#grp {
  color: gray;
}
#doc {
  color: #00b39b;
}
.nav-items {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width:20%
}
section{
    display: flex;
    flex-direction: column;
    background-color:red;
    text-align: center;
}
.card-paraghraph{
    display: flex;
    justify-content: space-around;
    background-color:yellow;
}
.p{
    background-color:blue;
    width:40%
}
