body {
  margin: 0;
}

header {
  background-color: gray;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 30%;
  align-items: center;
}
ul a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
section {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button {
  border: none;
  width: 150px;
  height: 60px;
}
button:hover {
  background-color: blue;
  cursor: pointer;
}
.card {
  width: 400px;
  text-align: center;
  margin-top: 50px;
}
main {
  width: 950px;
  margin: 100px auto 50px auto;
  padding: 40px 10px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-shadow: 10px 10px 10px 5px gray;
}
footer {
  text-align: center;
}
