nav {
  text-align: center;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 77px;
  padding: 20px;
  box-shadow: 10px 10px 10px 10px white;
}

body {
  background-image: url("./x.svg");
}
nav a {
  margin-left: 15px;
  text-decoration: none;
  font-size: 20px;
}
main {
  margin-top: 150px;
}
.informations {
  background-color: rgb(188, 182, 182);
  width: 550px;
  margin: auto;
  text-align: center;
  border-radius: 10px;
}
.informations:hover {
  background-color: gray;
  cursor: pointer;
}
.profile {
  border-radius: 50%;
}
#container {
  background-color: #3d83df;
  width: 550px;
  margin: 50px auto 100px auto;
  border-radius: 10px;
  text-align: center;
  padding-top: 10px;
}
.form-input,
textarea {
  margin-top: 20px;
}
input,
textarea {
  border-radius: 10px;
}
.images {
  width: 80px;
  border-radius: 50%;
  height: 80px;
}
footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}
#msg {
  float: right;
}
#container:hover {
  cursor: pointer;
  background-color: gray;
}
