#password {
  position: relative;
}
#show-btn {
  position: absolute;
  left: 66%;
  top: 205px;
}
.msg {
  background-color: green;
  width: 30%;
  margin: auto;
  border-radius: 5px;
  color: white;
}
